:root {
    --color-pekora: #7EC2FE;
    --color-rushia: #19E8C9;
    --color-flare: #FE3D1C;
    --color-noel: #ACBDC5;
    --color-marine: #BA2C2B;
    --color-kanata: #509BEA;
    --color-coco: #F38514;
    --color-watame: #F9AFB2;
    --color-towa: #BA92CA;
    --color-luna: #F7ABD5;
    --color-pekora-rgb: 126,194,254;
    --color-rushia-rgb: 25,232,201;
    --color-flare-rgb: 254,61,28;
    --color-noel-rgb: 172,189,197;
    --color-marine-rgb: 186,44,43;
    --color-kanata-rgb: 80,155,234;
    --color-coco-rgb: 243,133,20;
    --color-watame-rgb: 249,175,178;
    --color-towa-rgb: 186,146,202;
    --color-luna-rgb: 247,171,213;
    
    
    
}